.banner {
  background-image: url(../../images/background.png);
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  opacity: 99%;
}

.banner p {
  font-size: 28px;
  font-weight: lighter;
}
