/* Your card CSS file */

/* Card Category */
.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.card {
  text-align: center;
  background-size: cover;
  border: solid;
  border-color: rgb(0 0 0 / 10%);
  border-radius: 4px;
  padding: 24px;
}

.card img {
  height: 100px;
}

.card h3 {
  color: black;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgb(0 0 0 / 20%);
  border-radius: 5px;
  box-shadow: 0 3px rgb(0 0 0 / 20%);
  margin-bottom: 20px;
}

/* Card Product */
.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

/* Card Trip */

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

.card-trip-image {
  height: 120;
  width: 100%;
  object-fit: cover;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip-infos .card-trip-user {
    position: absolute;
    right: 16px;
    top: -35px;
}

.avatar-bordered {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgb(0 0 0 / 20%);
    border: white 1px solid;
    object-fit: cover;
}
